@model Portfolio
@{
    ViewData["Title"] = "Detail";
}

<div>
    <div>
        <h2>Portfolio Id</h2>
    </div>
    <div>
        <p>@Model.Id</p>
    </div>
    <div>
        <h2>Portfolio Image</h2>
    </div>
    <div>
        <p>@Model.Image</p>
    </div>
</div>

