@model List<Portfolio>

@{
    ViewData["Title"] = "Index";
}

<div class="table-responsive pt-3">
    <a class="btn btn-primary mb-3" style="font-size:20px; color:#fff">Create Portfolio</a>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                   Image
                </th>
                <th>
                    Setting
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Portfolio portfolio in Model)
            {
                <tr>
                    <td>
                        @portfolio.Id
                    </td>
                    <td>
                        <img style="width:100px;height:100px" src="~/assets/images/@portfolio.Image" alt="">
                    </td>
                   <td>
                       <div class="d-flex">
                           <div class="detail">
                               <a asp-controller="detail" asp-action="Index" asp-route-id="@portfolio.Id" class="btn btn-success"><i class="fa-solid fa-info"></i></a>
                           </div>
                           <div class="edit">
                               <a asp-controller="edit" asp-action="Index" asp-route-id="@portfolio.Id" class="btn btn-warning"><i class="fa-regular fa-pen-to-square"></i></a>
                           </div>
                           <div class="delete">
                               <a asp-controller="delete" asp-action="Index" asp-route-id="@portfolio.Id" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></a>
                           </div>
                       </div>
                   </td>
                </tr>

            }
        </tbody>
    </table>
</div>

